appsettings.Development.json
appsettings.json

# Build outputs
bin/
obj/
out/

# Docker files themselves
Dockerfile
.dockerignore

# IDE / editor folders
.vs/
.vscode/
*.user

# Git
.git/
.gitignore
.gitattributes

# Logs & temp
*.log
*.tmp