name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET 10
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
        include-prerelease: true

    - name: Restore backend
      run: dotnet restore MBW.Server/MBW.Server.csproj

    - name: Build backend
      run: dotnet build MBW.Server/MBW.Server.csproj --no-restore

    - name: Restore tests
      run: dotnet restore ServerTests/ServerTests.csproj

    - name: Test
      run: dotnet test ServerTests/ServerTests.csproj --no-build -c Release --verbosity normal
