name: Node.js CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [24.x]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: npm
        cache-dependency-path: client/package-lock.json

    - name: Install dependencies
      run: npm ci
      working-directory: client

    - name: Build
      run: npm run build --if-present
      working-directory: client

    - name: Test
      run: npm test
      working-directory: client
